      .picture {
        width: 200px;
      }
      
      #body {
        background-color:blue;
        padding: 0;
      }
      
      img {
        border: 2px solid red;
        float: left;
      }