
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

head{
	margin-right:auto;
	margin-left:auto;
}

/*div.nav_bar{
	vertical-align:left;
	display:left;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	z-index: 2;
    color:black;
    
}*/



img.nav_logo{
	width: 6em;
	height: 6em;
}


a.navlink:link {
		color:#1a1a1a;	
		display: inline-block;
		width: 7.25em;
		background-color: rgb(115, 115, 204);
		text-align: center;
		text-decoration: none;
		float: left;
		vertical-align: left;
}
a.navlink:visited {color:#1a1a1a;}

a.navlink:hover {
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My CSS Code*/


body {
	display:inline-block;
}

.site {
	width:1020px;
}

header {
	padding:30px;
	background-color: white;
	margin-bottom:10px;
	position: relative;
}



h1 {
	text-align: center;
	float: center;
	font-family: 'Courier New';
	font-size:2em;
	text-decoration: none;
}
#first {
	font-size: 2.8em;
	color: rgb(115, 115, 204);
	text-decoration: none;
}

.title {
	font-size: 1.8em;
	font-family: 'Courier New';
	font-weight: bold;
	color: rgb(115, 115, 204);
	text-decoration: none;
}

img.kendall {
	height:100px;
	width:100px;
	margin: 1em 1em 0.500em;
	border-radius:120px;
	text-align:below;
	text-decoration: none;
}
/*#sidebar 
	background-color: white;
	width:25%;
	border: 2px solid rgb(115, 115, 204);
	float: left;
	font-family: fontAwesome;
	line-height: 35px;
	text-align: center;
	padding:10px;
	margin: 15px;
	display: inline-block;
}*/

.content_area {
	width: 66%;
	border:2px solid navy;
	margin:15px;
	float: right;

}

.week {
	font-size:1.250em;
	font-weight: bold;
}




footer {
	border-bottom:4px solid navy;
	margin:auto;
	clear:both;
}

p {
	text-align: center;
	font-family: sans-serif;
	margin:5px;
	overflow:auto;
}



h2 {
	text-align: center;
	font-family: sans-serif;
}


  img {
  	vertical-align: center;
	width:83%;
	padding:.5em;
	display:inline;
  }
