body {
	vertical-align:center
}

.site {
	width:1020px;
}

header {
	padding:15px;
	border:1.5px solid black;
	background-color: rgb(203, 177, 226);
	margin-bottom:10px;
	position: relative;
}

h1 {
	text-align: center;
	float: center;
}

#sidebar {
	background-color: rgb(137, 197, 206);
	width:200px;
	height:850px;
	border: 2px solid rgb(115, 115, 204);
	float: left;
}

.content_area {
	padding: 10 px 30px 50px 70px;
	border:2px solid navy;
	margin:15px;
	float: right;
}



footer {
	background-color: rgb(133, 133, 201);
	padding:10px;
	border-top:2px solid black;
	border-bottom:4px solid navy;
	margin:auto;
	clear:both;
}

p {
	text-align: center;
}



h2 {
	text-align: center;
}

  a:link	{
  	color:blue;
	text-decoration:none;
  }
  a:visited	{
  	color: green;
	text-decoration:none;
  }
  a:hover	{
  	color: navy;
  }
  a:active	{
  	color: green;
  }

  img {
  	vertical-align: center
	width:1000px;
	height:830px;
  }